form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #ffe2b7;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.carousel-item {
    height: 92vh;
}
.carousel-item img { height: 100%;}
h1 {
    margin-left: 35%;}
h2 {
    margin-left: 35%;}
